@use "global" as *;

.drawer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: $blue, $alpha: 1.0);
    overflow: scroll;
    padding-bottom: myrem(100);
    @include mq('md') {
        display: none;
    }
}

.drawer__inner {
    display: flex;
    width: 100%;
}

.drawer__items {
    display: flex;
    justify-content: center;
    gap: myrem(30);
    width: 100%;
    margin-top: myrem(80);
}

.drawer__item {
	display: block;
}

.drawer__link {
    display: inline-block;
    width: 100%;
    color: $white;
    font-family: $japanese;
    font-size: myrem(16);
    font-weight: 400;
    line-height: 1.125;
    padding: myrem(12) 0;
}

.drawer__link.drawer__title-link {
    position: relative;
    font-weight: 700;
    padding: myrem(20) 0;
}

.drawer__link.drawer__title-link::before {
    content: "";
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: myrem(-20);
    display: block;
    background: url(../images/common/hitode.png) no-repeat center center / contain;
    width: myrem(18);
    height: myrem(18);
}

body.is-active {
    height: 100%;
    overflow: hidden;
}