@use "global" as *;

.first-view {
    width: 100vw;
    height: 100vh;
}

.first-view__inner {
    position: relative;
    width: 100%;
    height: inherit;
}

.first-view__title {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-left: myrem(20);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    @include mq('md') {
        top: 51%;
        padding-left: myrem(42);
    }
}

.first-view__title_main {
    font-size: myrem(40);
    color: $white;
    letter-spacing: myrem(21.6);
    font-family: $english;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 5px;
    @include mq('md') {
        font-size: myrem(80);
        letter-spacing: myrem(43.2);
    }
}

.first-view__title_sub {
    font-size: myrem(20);
    color: $white;
    font-family: $english;
    font-weight: 400;
    line-height: 1;
    padding-right: myrem(20);
    padding-top: myrem(7);
    @include mq('md') {
        padding-right: myrem(43);
        padding-top: 0;
    }
}

.slide-img{
    height: 100vh;
}

.slide-img img {
    aspect-ratio: 375 / 667;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    @include mq('md') {
        aspect-ratio: 1440 / 768;
    }
}

