@use "global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: myrem(80);
    background: rgba(13, 41, 54, 0.68);
    transition: 0.6s;
    @include mq('md') {
        height: myrem(90);
    }
}

.js-header.is-active {
    background-color: $blue;
}

.header__inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 myrem(15);
    @include mq('md') {
        padding-left: myrem(40);
        padding-right: myrem(20);
    }
}

.header__logo {
    max-width: myrem(102);
    width: 100%;
    height: inherit;
    @include mq('md') {
        max-width: myrem(133);
    }
}

.header__logo-link {
    display: block;
    height: inherit;
}

.header__logo-img {
    display: flex;
    height: inherit;
    align-items: center;
}


// hamburger //

.hamburger {
    position: relative;
    width: myrem(32);
    height: myrem(24);
    @include mq('md') {
        display: none;
    }
}

.hamburger span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: myrem(2);
    background-color: $white;
    transition: all .5s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: myrem(12);
}

.hamburger span:nth-child(3) {
    top: myrem(24);
}

// is-active //
.hamburger.is-active span:nth-child(1) {
    transform: translateY(myrem(12)) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
    transform: translateY(myrem(-12)) rotate(-45deg);
}

// header-nav //

.header-nav {
    display: none;
    height: inherit;
    @include mq('md') {
        display: block;
    }
}

.header-nav__inner {
    height: inherit;
}

.header-nav__items {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav__item {
    height: inherit;
}

.header-nav__item-link {
    padding: 0 1.4vw;
    position: relative;
    display: flex;
    height: inherit;
    align-items: center;
}

.header-nav__item-link p {
    text-align: center;
    font-size: myrem(18);
    color: $white;
    line-height : 1;
    font-family: $english;
    font-weight: 400;
}

.header-nav__item-link .header-nav__item-ruby {
    text-align: center;
    margin-top: myrem(4);
    font-size: myrem(10);
    color: $white;
    line-height : 1;
    font-family: $japanese;
    font-weight: 400;
}

.header-nav__item-ruby {
    white-space: nowrap;
}

// under line //

.header-nav__item:hover {
    color: $white;
}

.header-nav__item-link::after {
    content: '';
    position: absolute;
    bottom: myrem(16);
    left: 15%;
    width: 70%;
    height: 2px;
    background:$white;
    transition: all .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.header-nav__item-link:hover::after {
    transform: scale(1, 1)
}

