@use "global" as *;

.sub-campaign {

}

.sub-campaign-layout {
  margin-top: myrem(80);
  @include mq('md') {
    margin-top: myrem(178);
  }
}

.sub-campaign__inner {

}

.inner {

}

.sub-campaign__tab-area {
  display: grid;
  grid-template-columns: repeat(2,myrem(162));
  gap: myrem(21) myrem(16);
  justify-content: center;
  @include mq('md') {
    grid-template-columns: repeat(4,myrem(162));
    gap: 0 myrem(32);
    justify-content: normal;
  }
}

.sub-campaign__tab {
  padding: myrem(6) 0;
  border: myrem(1) solid $blue;
  text-align: center;
}

.sub-campaign__tab p {
  color: $blue;
  font-family: $japanese;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height: calc(22 / 14);
  text-transform: uppercase;
}

.sub-campaign__cards {
  margin-top: myrem(40);
}

.campaign-cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: myrem(40) 0;
  @include mq('md') {
    grid-template-columns: 1fr 1fr;
    gap: myrem(80) myrem(40);
  }
}

.sub-campaign__card {

}

.campaign-card.campaign-card--wide {
  @include mq('md') {
    max-width: myrem(520);
    width: 100%;
  }
}

.campaign-card__under-block {
  display: none;
  @include mq('md') {
    display: block;
    margin-top: myrem(24);
  }
}

.campaign-card__text {
  font-size: myrem(16);
  color: $navy;
  line-height : calc(24 / 16);
  font-family: $japanese;
  font-weight: 400;
}

.campaign-card__date {
  margin-top: myrem(32);
  text-align: center;
  font-size: myrem(16);
  color: $blue;
  line-height : calc(18 / 16);
  font-family: $english-2;
  font-weight: 700;
}

.campaign-card__contact-text {
  margin-top: myrem(7);
  font-size: myrem(14);
  text-align: center;
  color: $blue;
  line-height : calc(18 / 14);
  font-family: $japanese;
  font-weight: 400;
}

.campaign-card__wrap {
  text-align: center;
  margin-top: myrem(16);
}
