@use "global" as *;

.contact {
    position: relative;
}

.contact__inner {
    padding-top: myrem(80);
    padding-right: myrem(40);
    padding-bottom: myrem(103);
    padding-left: myrem(40);
    @include mq('md') {
        max-width: myrem(1130);
        margin: 0 auto;
        padding-top: myrem(140);
        padding-right: auto;
        padding-bottom: myrem(160);
        padding-left: auto;
    }
}

.contact__container {
    text-align: center;
    @include mq('md') {
        display: flex;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
        padding-top: myrem(70);
        padding-right: myrem(96);
        padding-bottom: myrem(80);
        padding-left: myrem(34);
    }
}

.contact__left {
    @include mq('md') {
        width: 50%;
        padding-right: myrem(20);
    }
}

.contact__logo {
    display: inline-block;
    width: myrem(174);
    @include mq('md') {
        width: myrem(200);
    }
}

.contact__left＿line {
    width: 100%;
    height: myrem(1);
    background-color: $blue;
    margin-top: myrem(2);
    @include mq('md') {
        margin-top: myrem(8);
    }
}

.contact__block {
    margin-top: myrem(16);
    @include mq('md') {
        margin-top: myrem(24);
        display: flex;
    }
}

.contact__block_left:not(:first-child) {
    margin-top: myrem(4);
}

.contact__block_left {
    margin-top: myrem(4);
    @include mq('md') {
        white-space: nowrap;
    }
}

.contact__block_left p {
    font-size: myrem(16);
    color: $navy;
    line-height : 1.7;
    font-family: $japanese;
    font-weight: 400;
}

.contact__block_right {
    margin: myrem(16) auto 0;
    width: myrem(295);
    height: myrem(160);
    @include mq('md') {
        margin-top: 0;
        margin-left: myrem(21);
        width: myrem(273);
        height: myrem(148);
    }
}
.iframe-wrap {
    position: relative;
    width: 100%;
    padding-top: 54.2%;
}
.iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact__right {
    @include mq('md') {
        display: flex;
        width: 100%;
    }
}

.contact__right_line {
    @include mq('md') {
        width: myrem(1);
        height: myrem(255);
        background-color: $blue;
        margin-left: myrem(64);
        margin-right: myrem(10);
    }
}

.contact__right_wrap {
    @include mq('md') {
        margin-left: auto;
    }
}

.section-title.section-title__contact {
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: myrem(28);
    }
}

.section-title__main.contact__main {
    font-size: myrem(80);
    color: $navy;
    line-height : 1;
    font-family: $english;
    font-weight: 400;
    margin-left: -8px;
}

.section-title__sub.contact__sub {
    font-size: myrem(12);
    color: $blue;
    line-height : 1;
    font-family: $japanese;
    font-weight: 400;
    margin-top: -4px
}

.contact__right_text {
    margin-top: myrem(8);
}

.contact__right_text p {
    font-size: myrem(14);
    color: $blue;
    line-height : calc(18 / 14);
    font-family: $japanese;
    font-weight: 400;
}

.contact__btn {
    margin-top: myrem(40);
}

.contact__fish {
    position: absolute;
    top: myrem(54);
    right: myrem(15);
    width: myrem(109);
    @include mq('md') {
        width: myrem(301);
        top: myrem(100);
        right: myrem(50);
    }
}

