@use "global" as *;

.voice-layout {
    margin-top: myrem(80);
    @include mq('md') {
        position: relative;
        margin-top: myrem(140);
    }
}

.voice__inner {
    max-width: myrem(600);
}

.voice__cards {
    margin-top: myrem(42);
    @include mq('md') {
        margin-top: myrem(30);
    }
}

.voice__card {
    margin-right: auto;
    margin-left: auto;
}

.voice__card:not(:first-child) {
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: 0;
    }
}


.voice__btn {
    margin-top: myrem(40);
    text-align: center;
    @include mq('md') {
        margin-top: myrem(80);
    }
}

.voice__fish {
    display: none;
    @include mq('md') {
        max-width: myrem(301);
        position: absolute;
        top: myrem(-140);
        display: block;
        left: calc(50% - min(48vw,myrem(650)));
    }
}

.voice__seahorse {
    display: none;
    @include mq('md') {
        max-width: myrem(71);
        position: absolute;
        bottom: myrem(-80);
        display: block;
        right: calc(50% - min(48vw, myrem(520)));
    }
}
