@use "global" as *;

.about {
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    @include mq('md') {
        padding-right: $padding-pc;
        padding-left: $padding-pc;
        position: relative;
    }
}

.about_inner {
    max-width: myrem(600);
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: myrem(76);
    @include mq('md') {
        max-width: $inner;
        padding-top: 0;
        padding-bottom: myrem(140);
    }
}

.about__view {
    position: relative;
    margin-top: myrem(50);
    @include mq('md') {
        margin-top: myrem(120);
    }
}

.about__view_vertical {
    position: absolute;
    z-index: 20;
    top: myrem(-26);
    left: 0;
    aspect-ratio: 128 / 194;
    object-fit: cover;
    width: 37.1%;
    height: 100%;
    @include mq('md') {
        top: myrem(-80);
        aspect-ratio: 400 / 606;
        object-fit: cover;
        width: 37.1%;
        height: 100%;
    }
}

.about__view_side {
    margin-left: auto;
    aspect-ratio: 281 / 186;
    object-fit: cover;
    width: 81.4%;
}

.about__main-title {
    margin-top: myrem(40);
    @include mq('md') {
        position: absolute;
        top: 20.6%;
        left: 18.5%;
        z-index: 50;
        margin-top: 0;
    }
}

.about__main-title h3 {
    font-size: myrem(40);
    color: $blue;
    line-height : 1;
    font-family: $english;
    font-weight: 400;
    @include mq('md') {
        font-size: myrem(80);
        color: $white;
        line-height : 1.25;
    }
}

.about__description {
    margin-top: myrem(16);
    @include mq('md') {
        position: absolute;
        width: 37%;
        margin-top: 0;
        top: 20.6%;
        right: 3.7%;
        z-index: 50;
    }
}

.about__description p {
    font-size: myrem(16);
    color: $navy;
    line-height : calc(24 / 16);
    font-family: $japanese;
    font-weight: 400;
    @include mq('md') {
        color: $white;
    }
}

.about__btn {
    text-align: center;
    margin-top: myrem(52);
    padding-right: myrem(14);
    @include mq('md') {
        position: absolute;
        margin-top: 0;
        top: 52.6%;
        right: 11.6%;
        z-index: 50;
    }
}

.about__sango {
    display: none;
    @include mq('md') {
        display: block;
        position: absolute;
        aspect-ratio: 194 / 181;
        object-fit: cover;
        max-width: myrem(180);
        bottom: myrem(70);
        right: calc(50% - min(50vw,650px));
    }
}
