@use "global" as *;

.contact {
    position: relative;
}

.contact__inner {
    padding: myrem(80) myrem(40) myrem(100);
    @include mq('md') {
        padding: myrem(140) myrem(180) myrem(160);
    }
}

.contact__container {
    text-align: center;
    @include mq('md') {
        display: flex;
        padding: myrem(80) myrem(112) myrem(80) myrem(50);
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }
}

.contact__left {
    @include mq('md') {
        width: 50%;
        padding-right: myrem(20);
    }
}

.contact__logo {
    display: inline-block;
    width: myrem(174);
    @include mq('md') {
        width: myrem(200);
    }
}

.contact__left＿line {
    width: 100%;
    height: myrem(1);
    background-color: $blue;
    margin-top: myrem(6);
    @include mq('md') {
        margin-top: myrem(8);
    }
}

.contact__block {
    margin-top: myrem(16);
    @include mq('md') {
        margin-top: myrem(24);
        display: flex;
    }
}

.contact__block_left:not(:first-child) {
    margin-top: myrem(4);
}

.contact__block_left {
    margin-top: myrem(4);
    @include mq('md') {
        white-space: nowrap;
    }
}

.contact__block_left p {
    font-size: myrem(16);
    color: $navy;
    line-height : calc(24 / 16);
    font-family: $japanese;
    font-weight: 400;
}

.contact__block_right {
    margin: myrem(16) auto 0;
    width: myrem(295);
    height: myrem(160);
    background-color: #D9D9D9;
    @include mq('md') {
        margin-top: 0;
        margin-left: myrem(21);
        width: myrem(273);
        height: myrem(148);
    }
}

.contact__right {
    @include mq('md') {
        display: flex;
        width: 100%;
    }
}

.contact__right_line {
    @include mq('md') {
        width: myrem(1);
        height: myrem(255);
        background-color: $blue;
        margin-left: myrem(30);
        margin-right: myrem(10);
    }
}

.contact__right_wrap {
    @include mq('md') {
        margin-left: auto;
    }
}

.section-title.section-title__contact {
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: myrem(20);
    }
}

.section-title__main.contact__main {
    font-size: myrem(80);
    color: $navy;
    line-height : 1;
    font-family: $english;
    font-weight: 400;
}

.initial-blue {

}

.section-title__sub.contact__sub {
    font-size: myrem(12);
    color: $blue;
    line-height : 1.5;
    font-family: $japanese;
    font-weight: 400;
}

.contact__right_text {
    margin-top: myrem(8);
}

.contact__right_text p {
    font-size: myrem(14);
    color: $blue;
    line-height : calc(18 / 14);
    font-family: $japanese;
    font-weight: 400;
}

.contact__btn {
    margin-top: myrem(40);
}

.btn {

}

.contact__fish {
    position: absolute;
    top: myrem(54);
    right: myrem(15);
    width: myrem(109);
    @include mq('md') {
        width: myrem(301);
        top: myrem(100);
        right: myrem(50);
    }
}

