@use "global" as *;

.price {
    position: relative;
    background-color: #DDF0F1;
}

.price__inner {
    padding-top: myrem(80);
    padding-right: myrem(15);
    padding-bottom: myrem(82);
    padding-left: myrem(15);
    @include mq('md') {
        max-width: myrem(1126);
        width: 100%;
        margin: 0 auto;
        padding: myrem(108) myrem(25);
    }
}

.price__container {
    margin-top: myrem(26);
    @include mq('md') {
        margin-top: myrem(40);
        display: flex;
        flex-direction: row-reverse;
        gap: myrem(93);
    }
}

.price__img {
    margin-top: myrem(24);
    aspect-ratio: 345 / 227;
    object-fit: cover;
    width: 100%;
    @include mq('md') {
        margin-top: myrem(0);
        aspect-ratio: 746 / 492;
        object-fit: cover;
        width: 50%;
    }
}

.price_body {
    margin-top: myrem(40);
    @include mq('md') {
        width: 50%;
        margin-top: myrem(0);
    }
}

.price__block:not(:first-child) {
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: myrem(27);
    }
}

.price__index p {
    font-size: myrem(16);
    color: $navy;
    line-height : calc(24 / 16);
    font-family: $japanese;
    font-weight: 700;
}

.price__line {
    margin-top: myrem(4);
    width: 100%;
    height: myrem(1);
    background-color: $blue;
}

.price__content_block {
    display: flex;
    margin-top: myrem(8);
}

.price__content p {
    font-size: myrem(14);
    color: $navy;
    line-height : calc(24 / 14);
    font-family: $japanese;
    font-weight: 400;
    @include mq('md') {
        font-size: myrem(16);
    }
}

.price__content_price {
    margin-left: auto;
}

.price__btn {
    text-align: center;
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: myrem(80);
    }
}

.price__fish {
    display: none;
    @include mq('md') {
        display: block;
        position: absolute;
        bottom: myrem(60);
        left: myrem(100);
        width: myrem(437);
    }
}

// animation //

.price__img {
    position: relative;
}

.color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #408F95;
}

.price__img img {
    display: block;
    width: 100%;
}

.price__img source {
    display: block;
    width: 100%;
}

