@use "global" as *;

.information {
    background-color: #DDF0F1;
    position: relative;
    z-index: -2;
}

.information-layout {
    margin-top: myrem(76);
    padding-top: myrem(80);
    padding-bottom: myrem(84);
    @include mq('md') {
        margin-top: myrem(140);
        padding: myrem(100) myrem(0);
    }
}

.information__inner {
    max-width: myrem(600);
}

.information__container {
    margin-top: myrem(24);
    @include mq('md') {
        display: flex;
        margin-top: myrem(40);
    }
}

.information__left {
    margin-right: myrem(48);
    aspect-ratio: 345 / 227;
    object-fit: cover;
    width: 100%;
    @include mq('md') {
        aspect-ratio: 540 / 356;
        width: 50%;
    }
}

.information__left-img {
    aspect-ratio: 540 / 365;
    width: 100%;
}

.information__left-img img {
    height: 100%;
    object-fit: cover;
}

.information__right {
    position: relative;
    margin-top: myrem(24);
    @include mq('md') {
        margin-top: 0;
        padding-top: myrem(64);
        width: 45%;
    }
}

.information__right::after {
    content: "";
    position: absolute;
    top: myrem(32);
    left: 0;
    display: inline-block;
    width: 100%;
    height: myrem(1);
    background-color: $blue;
    @include mq('md') {
        top: myrem(96);
    }
}

.information__right-title p {
    font-size: myrem(20);
    line-height : 1.2;
    @include mq('md') {
        font-size: myrem(24);
        color: $navy;
        line-height : 1;
        font-family: $japanese;
        font-weight: 700;
    }
}

.information__right-text {
    @include mq('md') {
        margin-top: myrem(12);
    }
    margin-top: myrem(16);
}

.information__right-text p {
    @include mq('md') {
        font-size: myrem(16);
        color: $black;
        line-height : calc(24 / 16);
        font-family: $japanese;
        font-weight: 400;
    }
}

.information__right-btn {
    text-align: center;
    margin-top: myrem(40);
}

// animation //

div.information__left-img {
    position: relative;
}

div.information__left-img div.color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #408F95;
}

div.information__left-img img {
    display: block;
    width: 100%;
}

