@use "global" as *;

.campaign {
    position: relative;
}

.campaign-layout {
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: myrem(120);
    }
}

.campaign__cards {
    margin-top: myrem(24);
    @include mq('md') {
        margin-top: myrem(40);
    }
}

.campaign__swiper {
    margin-right: calc(50% - 50vw);
}

.swiper-slide {
    height: auto;
}

.campaign__btn {
    margin-top: myrem(38);
    text-align: center;
    @include mq('md') {
        margin-top: myrem(80);
    }
}

// swiper-button  //

.swiper__button-wrap {
    position: absolute;
    top: myrem(24);
    right: calc(50% - min(30vw, myrem(410)));
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    @include mq('md') {
        display: block;
        width: myrem(80);
        height: myrem(80);
    }
}

.swiper-button-prev {
    margin-left: myrem(40);
}

.swiper-button-next {
    margin-right: myrem(40);
}

.swiper-button-prev:after, .swiper-button-next:after {
    content: "";
    display: block;
    width: myrem(80);
    height: myrem(80);
    background: url(../images/common/campaign-right.png) no-repeat center center / contain;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: "";
    display: block;
    width: myrem(80);
    height: myrem(80);
    background: url(../images/common/campaign-left.png) no-repeat center center / contain;
}
