@use "global" as *;

.blog-card {
    display: inline-block;
    padding-top: myrem(16);
    padding-right: myrem(16);
    padding-bottom: myrem(24);
    padding-left: myrem(16);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    transition: transform 0.1s linear;
}

.blog-card:hover {
    cursor: pointer;
    opacity: 0.7;
    transition-duration: 0.1s; 
}

.blog-card__link {
    display: block;
}

.blog-card__img {
    aspect-ratio: 301 / 201;
    width: 100%;
    overflow: hidden;
}

.blog-card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.1s linear;
}

.blog-card:hover .blog-card__img img{
    transform: scale(1.2);
    transition-duration: 0.1s; 
}

.blog-card__body {
    margin-top: myrem(16);
}

.blog-card__date {
    font-size: myrem(12);
    color: $navy;
    line-height : calc(18 / 12);
    font-family: $english;
    font-weight: 400;
}

.blog-card__title {
    position: relative;
}

.blog-card__title::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: myrem(30);
    left: 0;
    width: 100%;
    height: myrem(1);
    background-color: $blue;
}

.blog-card__title p {
    font-size: myrem(16);
    color: $navy;
    line-height : calc(24 / 16);
    font-family: $japanese;
    font-weight: 500;
}

.blog-card__text {
    margin-top: myrem(20);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8; 
}

.blog-card__text p {
    font-size: myrem(16);
    color: $navy;
    line-height : calc(24 / 16);
    font-family: $japanese;
    font-weight: 400;
}

// sub-blog //
.blog-card__title.blog-card__title--resize::after {
    top: myrem(26);
}

.blog-card__text.blog-card__text--narrow p {
    letter-spacing: myrem(0.1);
}

