@use "global" as *;

.blog-cards {
    display: grid;
    grid-gap: myrem(40);
    grid-template-columns: repeat(auto-fit,minmax(myrem(333),1fr));
    justify-content: center;
}

.blog-cards.blog-cards--two-column {
    position: relative;
    display: grid;
    justify-content: center;
    @include mq('md') {
        grid-gap: myrem(80) myrem(40);
        grid-template-columns: repeat(2,minmax(myrem(333),1fr));
    }
}

// .blog-cards.blog-cards--two-column::after {
//     content: "";
//     position: absolute;
//     background: url(../images/common/side-contents-波線.jpg);
//     width: 100%;
//     height: 100%;
//     bottom: 100px;
// }
