@use "global" as *;

.blog-cards {
    display: grid;
    grid-gap: myrem(40);
    grid-template-columns: repeat(auto-fit,minmax(myrem(333),1fr));
    justify-content: center;
}

.blog-cards.blog-cards--two-column {
    position: relative;
    display: grid;
    justify-content: center;
    @include mq('md') {
        grid-gap: myrem(80) myrem(40);
        grid-template-columns: repeat(2,minmax(myrem(333),1fr));
    }
}

.blog-cards--two-column--nopost {
    text-align: center;
    font-size: myrem(50);
    font-weight: 500;
    @include mq('md') {
        width: 220%;
    }
}
