@use "global" as *;

.breadcrumb {
  padding-top: myrem(6);
}

.breadcrumb__item {
  display: inline;
  color: $navy;
  font-family: $japanese;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: myrem(0.5);
}

.breadcrumb__item.breadcrumb__item--white {
  color: $white;
}


// WP  //
.breadcrumb__list > span:after {
  content: 'ï¼';
  padding: 0 0.4em;
  color: #000;
}

.breadcrumb__list > span:last-child:after {
  content: '';
}


// WP 404 //
.breadcrumb__list.breadcrumb__list-white span {
  color: #fff;
}

.breadcrumb__list.breadcrumb__list-white > span:after {
  content: 'ï¼';
  padding: 0 0.4em;
  color: #fff;
}

.breadcrumb__list.breadcrumb__list-white > span:last-child:after {
  content: '';
}
