@use "global" as *;

.btn {
    display: inline-block;
    width: 100%;
    max-width: myrem(202);
    color: $white;
    background-color: $blue;
    font-size: myrem(14);
    font-family: $english;
    line-height: calc(22 / 14);
    padding: myrem(15.2) 0;
    position: relative;
    border: 1px solid $blue;
    transition: background-color 0.3s ease;
    z-index: 1;
    text-align: center;
}

.btn:hover {
    color: $blue;
}

//白背景

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $white;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.btn:hover::before {
    color: $blue;
    background-color: $white;
    width: 100%;
}

.btn::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: -4px;
    bottom: -4px;
    border: 1px solid $blue;
    z-index: -2;
}

.btn span {
    position: relative;
    padding: 0 myrem(48) 0 0;
}

.btn span::after {
    display: inline-block;
    position: absolute;
    content: "";
    background-image: url("../images/common/btn-arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: myrem(40);
    height: 100%;
    top: 45%;
    transform: translateY(-50%);
    right: 0;
}

.btn:hover span::after {
    background-image: url("../images/common/btn-arrow-blue.svg");
}




