@use "global" as *;

.contact {
    position: relative;
}

.contact__inner {
    max-width: myrem(600);
}

.contact__container {
    text-align: center;
    @include mq('md') {
        display: flex;
        box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
        padding-top: myrem(70);
        padding-right: myrem(112);
        padding-bottom: myrem(80);
        padding-left: myrem(50);
    }
}

.contact__left {
    position: relative;
}

.contact__left::before {
    content: "";
    top: myrem(74);
    left: 0;
    position: absolute;
    width: 100%;
    height: myrem(1);
    background-color: $blue;
    @include mq('md') {
        top: myrem(86);
    }
}

.contact__logo {
    display: inline-block;
    width: myrem(174);
    @include mq('md') {
        width: myrem(200);
    }
}

.contact__block {
    margin-top: myrem(22);
    @include mq('md') {
        margin-top: myrem(32);
        display: flex;
    }
}

.contact__block-left:not(:first-child) {
    margin-top: myrem(4);
}

.contact__block-left {
    margin-top: myrem(4);
    @include mq('md') {
        white-space: nowrap;
    }
}

.contact__block-left p {
    font-size: myrem(16);
    color: $navy;
    line-height : 1.7;
    font-family: $japanese;
    font-weight: 400;
}

.contact__block-right {
    margin: myrem(16) auto 0;
    width: myrem(295);
    height: myrem(160);
    @include mq('md') {
        margin-top: 0;
        margin-left: myrem(21);
        width: myrem(273);
        height: myrem(148);
    }
}

.contact__iframe-wrap {
    position: relative;
    width: 100%;
    padding-top: 54.2%;
}

.contact__iframe-wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact__right {
    position: relative;
    @include mq('md') {
        display: flex;
        width: 100%;
    }
}

.contact__right::before {
    @include mq('md') {
        position: absolute;
        content: "";
        width: myrem(1);
        height: myrem(255);
        background-color: $blue;
        top: myrem(6);
        left: myrem(80);
    }
}

.contact__right-wrap {
    @include mq('md') {
        margin-left: auto;
    }
}

.contact__section-title {
    margin-top: myrem(40);
    @include mq('md') {
        margin-top: myrem(28);
    }
}

.contact__right-text {
    margin-top: myrem(8);
}

.contact__right-text p {
    font-size: myrem(14);
    color: $blue;
    line-height : calc(18 / 14);
    font-family: $japanese;
    font-weight: 400;
}

.contact__btn {
    margin-top: myrem(40);
}

.contact__fish {
    position: absolute;
    top: myrem(-40);
    right: myrem(15);
    width: myrem(109);
    @include mq('md') {
        width: myrem(301);
        top: myrem(-40);
        right: calc(50% - min(48vw,myrem(650)));
    }
}

