@use "global" as *;

.first-view {
    width: 100%;
    height: 100vh;
}

.first-view__inner {
    position: relative;
    width: 100%;
    height: inherit;
    
}

.first-view__slide-img{
    height: 100vh;
    clip-path: inset(0 100% 0 0);
}

.first-view__slide-img img {
    aspect-ratio: 375 / 667;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    @include mq('md') {
        aspect-ratio: 1440 / 768;
    }
}

.first-view__title-wrap {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.first-view__main-title {
    font-size: myrem(40);
    color: $white;
    letter-spacing: 0.25em;
    font-family: $english;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    @include mq('md') {
        font-size: myrem(80);
    }
}

.first-view__sub-title {
    font-size: myrem(20);
    color: $white;
    font-family: $english;
    font-weight: 400;
    line-height: 1;
    margin-top: myrem(8);
    letter-spacing: 0.1em;
    padding: myrem(4) 0;
}

// GSAP

.opening{
    width: 100%;
    height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opening__mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #de786b;
    z-index: 10000;
    transform-origin: top right;
}
.opening__logo{
    display: block;
    width: myrem(100);
    z-index: 10001;
    opacity: 0;
}

// zoom

@keyframes zoomUp {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
    }
    .swiper-slide-active .first-view__slide-img,
    .swiper-slide-duplicate-active .first-view__slide-img,
    .swiper-slide-prev .first-view__slide-img {
    animation: zoomUp 16s linear 0s normal both;
}