@use "global" as *;

.gallery__inner {
  max-width: myrem(600);
}

.gallery__wrap {
  margin-top: myrem(40);
  @include mq('md') {
    margin-top: myrem(80);
  }
}

.gallery__container {
  display: grid;
  gap: myrem(8);
  grid-auto-flow: dense;
  @include mq('md') {
    grid-template-columns: repeat(11,1fr);
  }
}

.gallery__item:hover {
  cursor: pointer;
}

.gallery__item:nth-child(6n+1) {
  grid-row: span 2;
  @include mq('md') {
    grid-column: span 5;
  }
}

.gallery__item:nth-child(6n+2),
.gallery__item:nth-child(6n+3) {
  grid-row: span 1;
  @include mq('md') {
    grid-column: span 6;
  }
}

.gallery__item:nth-child(6n+4),
.gallery__item:nth-child(6n+5) {
  grid-row: span 1;
  @include mq('md') {
    grid-column: span 6;
  }
}

.gallery__item:nth-child(6n+6) {
  grid-row: span 2;
  @include mq('md') {
    grid-column: span 5;
  }
}

.gallery__item img {
  aspect-ratio: 580 / 369;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(6n+1) img,
.gallery__item:nth-child(6n+6) img {
  aspect-ratio: 492 / 746;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// modal //

.gallery__modal-block {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

// object-fit: cover;の場合

.gallery__modal-img {
  width: 80vw;
  position: relative;
  margin: 0 auto;
}

.gallery__modal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq('md') {
    object-fit: contain;
    aspect-ratio: 920 / 586;
  }
}

// object-fit: contain;の場合

// .gallery__modal-img {
//   position: relative;
//   margin: 0 auto;
// }

// .gallery__modal-img img {
//   width: 100%;
//   height: 100%;
//   object-fit: contain;
//   @include mq('md') {
//     aspect-ratio: 920 / 586;
//   }
// }