@use "global" as *;

.gallery__inner {
  max-width: myrem(600);
}

.gallery__wrap {
  margin-top: myrem(40);
  @include mq('md') {
    margin-top: myrem(80);
  }
}

.gallery__wrap {
  display: grid;
  gap: myrem(8);
  grid-auto-flow: dense;
}

.gallery__container {
  display: grid;
  grid-column-gap: myrem(8);
  grid-row-gap: myrem(8);
  @include mq('md') {
    grid-template-columns: 45.5% 53.7%;
    grid-template-rows: repeat(2,49.4%);
  }
}

.gallery__container:nth-child(2n) {
  display: grid;
  grid-column-gap: myrem(8);
  grid-row-gap: myrem(8);
  @include mq('md') {
    grid-template-columns: 53.7% 45.5%;
    grid-template-rows: repeat(2,49.4%);
  }
}


.gallery__item--large {
  @include mq('md') {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}

.gallery__item--large-2 {
  @include mq('md') {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
}

.gallery__item--large img {
  aspect-ratio: 492 / 746;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item--small img {
  aspect-ratio: 580 / 369;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// modal //

.gallery__modal-block {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.gallery__modal-img {
  width: 63.8vw;
  position: relative;
  margin: 0 auto;
  @include mq('md') {
    height: 76.3vh;
  }

}

.gallery__modal-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq('md') {
    object-fit: cover;
    aspect-ratio: 920 / 586;
  }
}
