@use "global" as *;

.pagination {
}

.pagination__items {
  display: flex;
  justify-content: center;
}

.pagination__item {
  position: relative;
}

.pagination__item a {
  position: relative;
  display: inline-block;
  margin: 0 myrem(6);
  border: myrem(1) solid $blue;
  color: $blue;
  padding: myrem(6) myrem(13);
  font-family: $english-2;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pagination__item:first-child::before {
  content: "";
  position: absolute;
  display: block;
  background: url(../images/common/pagenation-prev.webp) no-repeat center center / cover;
  width: myrem(38);
  height: myrem(38);
  top: 0;
  right: myrem(75);
}

.pagination__item:last-child::after {
  content: "";
  position: absolute;
  display: block;
  background: url(../images/common/pagenation-next.webp) no-repeat center center / cover;
  width: myrem(38);
  height: myrem(38);
  top: 0;
  left: myrem(75);
}

.pagination__item--sp-none {
  display: none;
  @include mq('md') {
    display: block;
  }
}

.pagination__item a.is-active {
  background-color: $blue;
  color: $white;
}