@use "global" as *;

.pagination {
}

.pagination__items {
  display: flex;
  justify-content: center;
}

.pagination__item {
  position: relative;
}

.pagination__item.pagination__item--number a {
  position: relative;
  display: inline-block;
  margin: 0 myrem(6);
  border: myrem(1) solid $blue;
  color: $blue;
  padding: myrem(6) myrem(13);
  font-family: $english-2;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pagination__item.pagination__item--prev {
  width: myrem(38);
  height: myrem(38);
  border: none;
  padding: 0;
  margin-right: myrem(34);
}

.pagination__item.pagination__item--next {
  width: myrem(38);
  height: myrem(38);
  border: none;
  padding: 0;
  margin-left: myrem(34);
}

.pagination__item.pagination__item--prev:hover {
  background-color: $blue;
}

.pagination__item.pagination__item--next:hover {
  background-color: $blue;
}

.pagination__item--sp-none {
  display: none;
  @include mq('md') {
    display: block;
  }
}

.pagination__item.is-active a {
  background-color: $blue;
  color: $white;
}