@use "global" as *;

.section-title {
    display: inline-block;
    width: 100%;
}

.section-title__main {
    text-align: center;
    font-size: myrem(32);
    color: $navy;
    line-height : calc( 40 / 32);
    font-family: $english;
    @include mq('md') {
        font-size: myrem(40);
        line-height : calc( 40 / 40);
    }
}

.section-title__main::first-letter {
    color: $blue;
    text-transform: uppercase;
}

.section-title__sub {
    margin-top: myrem(4);
    text-align: center;
    font-size: myrem(12);
    color: $blue;
    line-height : calc( 18 / 12);
    font-family: $japanese;
    font-weight: 400;
    @include mq('md') {
        margin-top: myrem(4);
    }
}

.section-title__main--white {
    @include mq('md') {
        color: $white;
    }
}

.section-title__main--white::first-letter {
    @include mq('md') {
        color: $white;
    }
}

.section-title__sub--white {
    @include mq('md') {
        color: $white;
    }
}

.section-title__main.section-title__main--contact {
    font-size: myrem(80);
    color: $navy;
    line-height : 1;
    font-family: $english;
    font-weight: 400;
}

.section-title__sub--contact {
    font-size: myrem(12);
    color: $blue;
    line-height : 1;
    font-family: $japanese;
    font-weight: 400;
}