@use "global" as *;

.sub-voice {

}

.sub-voice__inner {

}

.sub-voice__tab-nav {

}

.sub-voice__cards {
  margin-top: myrem(40);
}

.sub-voice__pagenavi {
  text-align: center;
  margin-top: myrem(78);
}

