@use "global" as *;

.sub-blog-detail {

}

.sub-blog-detail__inner {
  @include mq('md') {
    display: flex;
    gap: myrem(86);
  }
}

.sub-blog-detail__main-contents {

}

.sub-blog-detail__date {
  color: $navy;
  font-family: $english;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height : calc(18 / 14);
}

.sub-blog-detail__header {
  position: relative;
  margin-top: myrem(8);
  color: $navy;
  font-family: $japanese;
  font-size: myrem(24);
  font-style: normal;
  font-weight: 500;
  line-height : normal;
  @include mq('md') {
    font-size: myrem(32);
  }
}

.sub-blog-detail__header::after {
  content: "";
  display: block;
  top: myrem(2);
  left: 0;
  width: 100%;
  height: myrem(1);
  background-color: $blue;
}

.sub-blog-detail__img {
  margin-top: myrem(24);
  @include mq('md') {
    margin-top: myrem(40);
  }
}

.sub-blog-detail__img img {
  aspect-ratio: 345 / 231;
  object-fit: cover;
  width: 100%;
  @include mq('md') {
    aspect-ratio: 700 / 468;
  }
}

.sub-blog-detail__text {
  margin-top: myrem(24);
  color: $navy;
  font-family: $japanese;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 400;
  line-height : 1.5;
  @include mq('md') {
    margin-top: myrem(40);
  }
}

.sub-blog-detail__list {
  padding-left: myrem(27);
  margin-top: myrem(24);
  @include mq('md') {
    margin-top: myrem(40);
  }
}

.sub-blog-detail__list-item {
  position: relative;
  color: $navy;
  font-family: $japanese;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 400;
  line-height : 1.5;
}

.sub-blog-detail__list-item::before {
  content: "";
  position: absolute;
  background: url(../images/common/sub-blog-detail-list.webp) no-repeat center center / contain;
  width: myrem(18);
  height: myrem(18);
  top: myrem(2);
  left: myrem(-30);
}

.sub-blog-detail__pagenavi {
  margin-top: myrem(40);
  @include mq('md') {
    margin-top: myrem(80);
  }
}


