@use "global" as *;

.sub-blog-detail__date {
  color: $navy;
  font-family: $english;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height : calc(18 / 14);
}

.sub-blog-detail__header {
  position: relative;
  margin-top: myrem(8);
  color: $navy;
  font-family: $japanese;
  font-size: myrem(24);
  font-style: normal;
  font-weight: 500;
  line-height : normal;
  @include mq('md') {
    font-size: myrem(32);
  }
}

.sub-blog-detail__header::after {
  content: "";
  display: block;
  top: myrem(2);
  left: 0;
  width: 100%;
  height: myrem(1);
  background-color: $orange;
}

// WP想定 //

.sub-blog-detail__content-area img {
  margin-top: myrem(24);
  aspect-ratio: 345 / 231;
  object-fit: cover;
  width: 100%;
  @include mq('md') {
    margin-top: myrem(40);
    aspect-ratio: 700 / 468;
  }
}

.sub-blog-detail__content-area p {
  margin-top: myrem(24);
  color: $navy;
  font-family: $japanese;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 400;
  line-height : 1.5;
  @include mq('md') {
    margin-top: myrem(40);
  }
}

.sub-blog-detail__content-area ul {
    padding-left: myrem(27);
  margin-top: myrem(24);
  @include mq('md') {
    margin-top: myrem(40);
  }
}

.sub-blog-detail__content-area li {
  position: relative;
  color: $navy;
  font-family: $japanese;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 400;
  line-height : 1.68;
}

.sub-blog-detail__content-area li::before  {
  content: "";
  position: absolute;
  background: url(../images/common/hitode-blog-detail.svg) no-repeat center center / contain;
  width: myrem(18);
  height: myrem(18);
  top: myrem(2);
  left: myrem(-30);
}

// pagenavi //

.sub-blog-detail__pagenavi {
  display: flex;
  gap: myrem(80);
  justify-content: center;
  margin-top: myrem(40);
  padding-inline: myrem(94);
  @include mq('md') {
    margin-top: myrem(80);
  }
}


