@use "global" as *;

.sub-campaign__tab-area {
  display: grid;
  grid-template-columns: repeat(2,myrem(162));
  gap: myrem(12) myrem(16);
  justify-content: center;
  @include mq('md') {
    grid-template-columns: repeat(4,myrem(162));
    gap: 0 myrem(32);
    justify-content: normal;
  }
}

.sub-campaign__tab {
  padding: myrem(5) 0;
  border: myrem(1) solid $blue;
  text-align: center;
  color: $blue;
  background-color: $white;
}

.sub-campaign__tab p {
  font-family: $japanese;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height: calc(22 / 14);
  text-transform: uppercase;
}

.sub-campaign__cards {
  margin-top: myrem(38);
  display: grid;
  row-gap: myrem(36);
  justify-content: center;
  padding: 0 myrem(27.5);
  @include mq('md') {
    grid-template-columns: 1fr 1fr;
    gap: myrem(80) myrem(40);
    padding: 0;
  }
}

.sub-campaign__card {
    max-width: myrem(600);
}

// .sub-campaign__card {
//   display: none;
// }

// // is-active //

.sub-campaign__tab.is-active {
  background-color: $blue;
  color: $white;
}

// .sub-campaign__card.is-active {
//   display: block;
// }

// pagination //

.sub-campaign__pagination {
  text-align: center;
  margin-top: myrem(78);
}

