@use "global" as *;

.tab-contents__tab-area {
  display: flex;
  justify-content: space-between;
}

.tab-contents__tab {
  background-color: #DDF0F1;
  max-width: myrem(102);
  width: 100%;
  padding-top: myrem(10);
  padding-bottom: myrem(10);
  justify-content: center;
  align-items: center;
  text-align: center;
  @include mq('md') {
    display: flex;
    max-width: myrem(300);
    padding-top: myrem(13);
    padding-bottom: myrem(13);
  }
}

.tab-contents__tab span {
  display: none;
  @include mq('md') {
    flex-shrink: 0; 
    display: block;
    width: myrem(64);
    height: myrem(64);
    margin-right: myrem(8);
    color: $blue;
  }
}

.tab-contents__tab span.tab-name1 {
  @include mq('md') {
    background: url(../images/common/sub-info-tab-name-1.webp) no-repeat center center /contain;
  }
}

.tab-contents__tab span.tab-name2 {
  @include mq('md') {
    background: url(../images/common/sub-info-tab-name-2.webp) no-repeat center center /contain;
  }
}

.tab-contents__tab span.tab-name3 {
  @include mq('md') {
    background: url(../images/common/sub-info-tab-name-3.webp) no-repeat center center /contain;
  }
}

.tab-contents__tab p {
  color: $blue;
  font-family: $japanese;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include mq('md') {
    font-size: myrem(24);
  }
}

.tab-contents__tab br {
  @include mq('md') {
    display: none;
  }
}

// panel //

.tab-contents__panel-area {
  margin-top: myrem(16);
  @include mq('md') {
    margin-top: myrem(24);
  }
}

.tab-contents__panel {
  display: none;
  padding: myrem(24);
  border: myrem(1) solid $blue;
}

.tab-contents__panel-container {
  display: flex;
  flex-direction: column;
  gap: myrem(8);
  @include mq('md') {
    gap: myrem(48);
    flex-direction: row;
    align-items: center;
  }
}

.tab-contents__panel-header {
  position: relative;
  color: $navy;
  font-family: $japanese;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}

.tab-contents__panel-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: myrem(1);
  background-color: $blue;
  left: 0;
  bottom: myrem(-8);
}

.tab-contents__panel-text {
  margin-top: myrem(16);
  color: #000;
  font-family: $japanese;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
}

.tab-contents__panel-right {
  flex-shrink: 0;
}

.tab-contents__panel-right img {
  aspect-ratio: 297 / 189;
  width: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 492 / 313;
    max-width: myrem(492);
  }
}

input[name="tab-btn"] {
    display: none;
}

// checked //

.tab-contents__tab-area input:checked + .tab-contents__tab {
  transition: 0.3s;
  background-color: $blue;
}

.tab-contents__tab-area input:checked + .tab-contents__tab p {
  transition: 0.3s;
  color: $white;
}

.tab-contents__tab-area input:checked + .tab-contents__tab span {
  transition: 0.15s;
  filter: invert(0%) sepia(0%) saturate(7444%) hue-rotate(50deg) brightness(500%) contrast(200%);
}

// is-active //

.tab-contents__panel.is-active {
  display: block;
}


// animation //

div.tab-contents__panel-right {
    position: relative;
}

div.tab-contents__panel-right div.color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #408F95;
}

div.tab-contents__panel-right img {
    display: block;
    width: 100%;
}