@use "global" as *;

.tab-nav__tab-area {
  display: grid;
  grid-template-columns: repeat(2,myrem(162));
  gap: myrem(16) myrem(22);
  justify-content: center;
  @include mq('md') {
    grid-template-columns: repeat(5,myrem(162));
    gap: myrem(16) myrem(32);
    justify-content: normal;
  }
}

// .tab-nav__tab {
//   padding: myrem(5) 0;
//   border: myrem(1) solid $blue;
//   text-align: center;
//   color: $blue;
//   background-color: $white;
//   transition: opacity 0.3s;
//   cursor: pointer;
// }

.tab-nav__tab {
  display: block;
  padding: myrem(5) 0;
  border: myrem(1) solid $blue;
  text-align: center;
  color: $blue;
  background-color: $white;
  transition: opacity 0.3s;
  cursor: pointer;
  font-family: $japanese;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height: calc(22 / 14);
  text-transform: uppercase;
}

.tab-nav__tab.is-active {
  background-color: $blue;
  color: $white;
}

// hover //

.tab-nav__tab:hover {
  background-color: $blue;
  color: $white;
  transition: 0.1s ease-out;
}