@use "global" as *;

// タブ //
.tab__menu {
  display: flex;
  justify-content: space-around;
  gap: myrem(20);
  @include mq('md') {
  justify-content: space-between;
  }
}

.tab__menu-item {
  background-color: #f1dedd;
  width: 100%;
  padding-top: myrem(10);
  padding-bottom: myrem(10);
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 0.3s;
  @include mq('md') {
    display: flex;
    max-width: myrem(300);
    padding-top: myrem(13);
    padding-bottom: myrem(13);
  }
}

// 左側の装飾
.tab__menu-item span {
  display: none;
  @include mq('md') {
    flex-shrink: 0; 
    display: block;
    width: myrem(64);
    height: myrem(64);
    margin-right: myrem(8);
    color: $orange;
  }
}

.tab__menu-item span.tab-name1 {
  @include mq('md') {
    background: url(../images/common/sub-info-tab-name-1.svg) no-repeat center center /contain;
  }
}

.tab__menu-item span.tab-name2 {
  @include mq('md') {
    background: url(../images/common/sub-info-tab-name-2.svg) no-repeat center center /contain;
  }
}

.tab__menu-item span.tab-name3 {
  @include mq('md') {
    background: url(../images/common/sub-info-tab-name-3.svg) no-repeat center center /contain;
  }
}

// タブの名前
.tab__menu-item p {
  color: $orange;
  font-family: $japanese;
  font-size: myrem(14);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include mq('md') {
    font-size: myrem(24);
  }
}

.tab__menu-item br {
  @include mq('md') {
    display: none;
  }
}


// コンテンツ //
.tab__content {
  margin-top: myrem(16);
  @include mq('md') {
    margin-top: myrem(24);
  }
}

.tab__content-item {
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: myrem(8);
  @include mq('md') {
    gap: myrem(48);
    flex-direction: row;
    align-items: center;
  }
}

.tab__content-item-header {
  position: relative;
  color: $navy;
  font-family: $japanese;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

// 下線
.tab__content-item-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: myrem(1);
  background-color: $orange;
  left: 0;
  bottom: myrem(-8);
}

.tab__content-item-text {
  margin-top: myrem(16);
  color: #000;
  font-family: $japanese;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
}

.tab__content-item-right {
  flex-shrink: 0;
}

.tab__content-item-right img {
  aspect-ratio: 297 / 189;
  width: 100%;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 492 / 313;
    max-width: myrem(492);
  }
}


// checked //

.tab__menu-item-area input:checked + .tab__menu-item {
  transition: 0.3s;
  background-color: $orange;
}

.tab__menu-item-area input:checked + .tab__menu-item p {
  transition: 0.3s;
  color: $white;
}

.tab__menu-item-area input:nth-of-type(1):checked + .tab__menu-item span {
  transition: 0.15s;
  background: url(../images/common/sub-info-tab-name-1-white.svg) no-repeat center center /contain;
}
.tab__menu-item-area input:nth-of-type(2):checked + .tab__menu-item span {
  transition: 0.15s;
  background: url(../images/common/sub-info-tab-name-2-white.svg) no-repeat center center /contain;
}
.tab__menu-item-area input:nth-of-type(3):checked + .tab__menu-item span {
  transition: 0.15s;
  background: url(../images/common/sub-info-tab-name-3-white.svg) no-repeat center center /contain;
}

// is-active
.tab__menu-item.is-active {
  background-color: $orange;
}

.tab__menu-item.is-active p {
  color: $white;
}

.tab__menu-item:nth-of-type(1).is-active > span  {
  background: url(../images/common/sub-info-tab-name-1-white.svg) no-repeat center center /contain;
  transition: 0.1s ease-out;
}

.tab__menu-item:nth-of-type(2).is-active > span {
  background: url(../images/common/sub-info-tab-name-2-white.svg) no-repeat center center /contain;
  transition: 0.1s ease-out;
}

.tab__menu-item:nth-of-type(3).is-active > span {
  background: url(../images/common/sub-info-tab-name-3-white.svg) no-repeat center center /contain;
  transition: 0.1s ease-out;
}

.tab__content-item.is-active {
  opacity: 1;
  transition: opacity 1s linear;
  height: auto;
  padding: myrem(24);
  border: myrem(1) solid $orange;
}



// InView animation //

div.tab__content-item-right {
    position: relative;
}

div.tab__content-item-right div.color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $orange;
}

div.tab__content-item-right img {
    display: block;
    width: 100%;
}

// hover //

.tab__menu-item:hover {
  background-color: $orange;
  transition: 0.1s ease-out;
}
.tab__menu-item:hover p {
  color: $white;
  transition: 0.1s ease-out;
}

.tab__menu-item:nth-of-type(1):hover > span  {
  background: url(../images/common/sub-info-tab-name-1-white.svg) no-repeat center center /contain;
  transition: 0.1s ease-out;
}
.tab__menu-item:nth-of-type(2):hover > span {
  background: url(../images/common/sub-info-tab-name-2-white.svg) no-repeat center center /contain;
  transition: 0.1s ease-out;
}
.tab__menu-item:nth-of-type(3):hover > span {
  background: url(../images/common/sub-info-tab-name-3-white.svg) no-repeat center center /contain;
  transition: 0.1s ease-out;
}
