@use "global" as *;

.to-top {
	position: fixed;
	width: myrem(48);
  height: myrem(48);
	right: myrem(16);
	bottom: myrem(16);
	z-index: 10;
	opacity: 1;
	transition: opacity 0.3s ease, visibility 0.3s ease;
	transition: background-color 0.3s ease, color 0.3s ease;
	@include mq('md') {
		right: myrem(20);
		bottom: myrem(20);
		width: myrem(80);
		height: myrem(80);
	}
}
