@use "global" as *;

.voice-card {
    padding-top: myrem(12);
    padding-right: myrem(16);
    padding-bottom: myrem(24);
    padding-left: myrem(16);
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    @include mq('md') {
        padding: myrem(24);
        max-width: myrem(520);
    }
}

.voice-card__header {
    display: flex;
    gap: myrem(13);
    @include mq('md') {
        gap: 0;
    }
}

.voice-card__header-left {
    width: 50%;
    @include mq('md') {
        margin-top: myrem(30);
        width: calc(100% * (276 / 456));
    }
}

.voice-card__top {
    @include mq('md') {
        display: flex;
    }
}

.voice-card__gender {
    @include mq('md') {
        margin-top: myrem(10);
    }
}

.voice-card__gender p {
    font-size: myrem(12);
    color: $navy;
    line-height : calc(18 / 12);
    font-family: $japanese;
    font-weight: 400;
}

.voice-card__tag {
    display: inline-block;
    padding: myrem(4) myrem(12);
    border: solid myrem(1) $orange;
    @include mq('md') {
        margin-left: auto;
        padding: myrem(6) myrem(16);
    }
}

.voice-card__tag p {
    font-size: myrem(12);
    color: $orange;
    line-height : calc(22 / 12);
    font-family: $japanese;
    font-weight: 400;
}

.voice-card__title {
    position: relative;
    margin-top: myrem(4);
    @include mq('md') {
        margin-top: myrem(8);
    }
}

.voice-card__title::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: myrem(72);
    left: 0;
    width: 100%;
    height: myrem(1);
    background-color: $orange;
    @include mq('md') {
        top: myrem(66);
    }
}

.voice-card__title p {
    font-size: myrem(16);
    color: $navy;
    line-height : normal;
    font-family: $japanese;
    font-weight: 500;
    @include mq('md') {
        font-size: myrem(24);
        line-height: 1.25;
    }
}

.voice-card__header-right {
    width: 50%;
    padding-top: myrem(9);
    @include mq('md') {
        width: calc(100% * (180 / 456));
        margin-left: myrem(16);
        padding-top: myrem(0);

    }
}

.voice-card__img {
    aspect-ratio: 151 / 117;
    object-fit: cover;
    width: 100%;
    height: 100%;
    @include mq('md') {
        aspect-ratio: 180 / 140;
    }
}

.voice-card__img img {
    display: inline-block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.voice-card__body {
    margin-top: myrem(16);
    @include mq('md') {
        margin-top: myrem(40);
    }
}

.voice-card__text p {
    font-size: myrem(16);
    color: $black;
    line-height : calc(24 / 16);
    font-family: $japanese;
    font-weight: 400;
}

// animation //

div.voice-card__img {
    position: relative;
}

div.voice-card__img div.color {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $orange;
}

div.voice-card__img  img {
    display: block;
    width: 100%;
}
