@use "global" as *;

.voice-cards {
    display: grid;
    row-gap: myrem(40);
    @include mq('md') {
        row-gap: myrem(80);
        column-gap: myrem(40);
        grid-template-columns: repeat(2,auto);
    }
}

