@use "global" as *;

.wp-pagenavi {
  display: flex;
  justify-content: center;
}

.wp-pagenavi span.current {
  position: relative;
  display: inline-block;
  margin: 0 myrem(6);
  border: myrem(1) solid $orange;
  padding: myrem(8.5) myrem(14);
  font-family: $english-2;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: $orange;
  color: $white;
}

.wp-pagenavi a {
  position: relative;
  display: inline-block;
  margin: 0 myrem(6);
  border: myrem(1) solid $orange;
  color: $orange;
  padding: myrem(8.5) myrem(14);
  font-family: $english-2;
  font-size: myrem(16);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: transform 0.1s linear;
}

.wp-pagenavi a.sp-none {
  display: none;
  @include mq('md') {
    display: block;
  }
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
  margin: 0 myrem(40);
}



// hover //

.wp-pagenavi a:hover {
  background-color: $orange;
  color: $white;
  transition: 0.1s ease-out;
}


